<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basdatpbl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.materi.hirarki.Tabs5Hirarki"></activity>
        <activity
            android:name=".ui.materi.hirarki.VideoPlayerHirarki"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.erd.VideoPlayerErd"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.ketergantungan.VideoPlayerKetergantungan"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.normalisasi.VideoPlayerNormalisasi"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
<!--        Kasus Empat-->
        <activity
            android:name=".ui.kasus.empat.FourIntro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.empat.FourTahapEmpat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.empat.FourTahapTiga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.empat.FourTahapDua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.empat.FourTahapSatu"
            android:theme="@style/AppTheme.NoActionBar" />
<!--        End Kasus Empat-->
<!--        Kasus Tiga-->
        <activity
            android:name=".ui.kasus.tiga.ThreeIntro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.tiga.ThreeTahapEmpat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.tiga.ThreeTahapTiga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.tiga.ThreeTahapDua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.tiga.ThreeTahapSatu"
            android:theme="@style/AppTheme.NoActionBar" />
<!--        End Kasus Tiga-->
<!--        Kasus Dua-->
        <activity
            android:name=".ui.kasus.dua.TwoIntro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.dua.TwoTahapEmpat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.dua.TwoTahapTiga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.dua.TwoTahapDua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.dua.TwoTahapSatu"
            android:theme="@style/AppTheme.NoActionBar" />
<!--        End Kasus Dua-->
<!--        Kasus Satu-->
        <activity
            android:name=".ui.kasus.satu.OneIntro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.satu.OneTahapSatu"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.kasus.satu.OneTahapDua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.satu.OneTahapTiga"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kasus.satu.OneTahapEmpat"
            android:theme="@style/AppTheme.NoActionBar" />
<!--        End Kasus Satu-->
        <activity android:name=".ui.kuis.kuis_hirarki.HasilKuisHirarki" />
        <activity android:name=".ui.kuis.kuis_erd.HasilKuisErd" />
        <activity android:name=".ui.kuis.kuis_normalisasi.HasilKuisNormalisasi" />
        <activity android:name=".ui.kuis.kuis_ketergantungan.HasilKuisKetergantungan" />
        <activity
            android:name=".ui.kuis.kuis_hirarki.KuisHirarki"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kuis.kuis_ketergantungan.KuisKetergantungan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kuis.kuis_normalisasi.KuisNormalisasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.kuis.kuis_erd.KuisErd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.hirarki.Tabs1Hirarki"
            tools:ignore="Instantiatable" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppIntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".BottomActivity"
            android:label="@string/title_activity_bottom" />
        <activity
            android:name=".ui.materi.TabsHirarki"
            android:label="Hirarki"
            android:parentActivityName=".ui.materi.TabsHirarki"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.TabsErd"
            android:label="Entity Relationship Diagram"
            android:parentActivityName=".ui.materi.TabsErd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.TabsKetergantungan"
            android:label="Ketergantungan Fungsional"
            android:parentActivityName=".ui.materi.TabsKetergantungan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.TabsNormalisasi"
            android:label="Normalisasi"
            android:parentActivityName=".ui.materi.TabsNormalisasi"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>